

<!Doctype html>

<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang='en'>

  <!--Contains our links, scripts and meta data-->
	<head>
	
		<title>Portfolio Site</title>
		
		<!--CSS-->
		  <link rel="stylesheet" type="text/css" href='stylesheets/index.css'>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<!--Jquery for styles and functions-->
	
	</head>	

<!--Body starts-->
<body>
		
 <nav class="navbar navbar-default navbar-fixed-top">
 
  <div class="container">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portfolio Site</a>
    </div>
    
    <div id="navbar" class="collapse navbar-collapse">
    
      <ul class="nav navbar-nav">
        <li class="menus active"><a href="index.html" name="" alt="Home">Home</a></li>
        <li class="menus" ><a href="html/about.html" alt="about me">About me</a></li>
        <li class="menus "><a href="#course" alt="Courseworks">Courseworks</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right with-indicator">
		  <!--We will put something here later-->
		   <li class="Nav-item"><a href=" " ><span><img src=" " alt="CodeAcademy"></img></span></a></li>	
		   <li class="Nav-item"><a href=" " ><span><img src=" "alt="Github"></img></span></a></li>	
		   <li class="Nav-item"><a href=" " ><span><img src=" "alt="LinkedIn"></img></span></a></li>
		   <li class="Nav-item"><a href=" " ><span><img src=" " alt="Bitbucket"></img></span></a></li>			
		   <li class="Nav-item"><a href=" " ><span><img src=" " alt="Library Media Website Contribution"></img></span></a></li>
      </ul>

    </div>
  </div>
 </nav>