<!Doctype html>

<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang='en'>

<!--Contains our links, scripts and meta data-->

<head>

	<title>Portfolio Site</title>

	<!--CSS-->
	<link rel="stylesheet" type="text/css" href='../index.css'>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="index.js"></script>

	<!--Jquery for styles and functions-->

</head>

<!--Body starts-->

<body>

	<div id="contentContainer" class="col-lg-14">

		<div id="details" class="container text-center">
			<!--Details-->

			<div id="content">
				<!--About content-->
				<div id="subContent">
					<!--Sidebar Ends-->
					<div class="col-md-8">
						<!--Profile-->
						<img src="images/profpic.jpg" alt="Profile Picture" id="imgContainer"></img>
						<article>
							<dl>
								<dt>
									<h4>Hi! I'm John Riel Bihay</h4>
								</dt>
								<!--Title-->
								<dd>

									email: bihayjohnriel@outlook.com || contact: (206) - 348 - 8257 sdaddadsadsadsadsadssaA highly organized and hardworking
									IT Professional; Prepared to apply my knowledge of software and web technologies to provide professional IT services.

								</dd>
							</dl>
						</article>
					</div>
				</div>
				<!--End of about content-->
			</div>
			<!--About Details-->
		</div>
		<!--End of content-->
	</div>
	<!--End of content container-->
</body>

</html>